* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.header {
    background: linear-gradient(90deg, #FFEFBA 0%, #FFFFFF 100%);

}

li {
    font-weight: bold;
    font-size: 14px !important;
}

.button1 {
    color: white !important;
    background: linear-gradient(90deg, #FFE259 0%, #FFA751 100%) !important;
    border: none !important;
    border-radius: 50px;
    padding: 0 18px !important;
    font-size: 14px !important;
}

.button2 {
    color: white !important;
    background: linear-gradient(90deg, #FF4E50 0%, #F9D423 100%);
    border: none !important;
    border-radius: 50px;
    padding: 10px 8% !important;
    font-size: 14px !important;
}

p {
    font-weight: 500 !important;
    width: 70%;
}

h1 {
    font-size: 50px;
}
